:root {
    --text-color: #b8b6b6;
    --base-color: black;
    --highlight-color: rgb(235, 4, 4);
    --border-color: #5a0404;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;    
}

body {
    color: var(--text-color);
    Background-color: var(--base-color);
}

header {
    padding: 35px;
    border: 2px solid 
    border-bottom-color: var(--border-color);
}

header nav {
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-size: x-large;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 35px;
}

header nav ul li a {
    color: var(--text-color);
}

header h1 {
    display: inline-block;
    font-size: xxx-large;
    font-weight:400
}

#divider {
    background-image: url('Images/lightbulb.jpg'); 
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: bottom 100% right;
    height: 200px;
    width: 100%;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

#divider img {
    width: 10%;
    position:relative;
    left:35px;
    border-radius: 20px;
}

#divider p {
    display:inline-flex;
    margin-left: 51%;
    margin-top: 7%;
    color:rgb(235, 4, 4);
    font-size: xxx-large;
    font-weight:300;
}

main {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-card img {
    display: flex;
    border-radius: 80px;
    height:200px;
    margin:30px;
    align-self: center;
    
}

.title-card {
    display: flex;
    width:25%;
    min-height:300px;
    font-size: x-large;
    justify-content: flex-end;
    padding-right: 25px;
}

.title-card h2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    min-height:300px;
    width: 75%;
    text-align: left;
    font-size: large;
    border-left: solid #5a0404;
    margin-top:20px;
    margin-bottom:20px;
    align-content: center;
}

a {
     text-decoration: none;
}

nav {
    font-size: x-large;
    list-style-type: none;
    display: inline-flex;
}

#ContactMe nav {
    padding-top: 15px;
    margin-right: 10px;
    font-size: large;
}

footer {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 35px;
}

footer nav {
    padding: 15px;
}