:root {
    --text-color: #b8b6b6;
    --base-color: black;
    --highlight-color: rgb(235, 4, 4);
    --border-color: #5a0404;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}

body {
    Background-color: var(--base-color);
} 

h1 {
    font-size: 60px;
    font-weight:500;
}

h2 {
    font-size: 30px;
    font-weight:500;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 3.5;
}

p {
    font-size: 18px;
    font-weight:400;
    line-height: 1.5;
}

header {
    padding: 35px;
}

header nav {
    list-style-type: none;
    display: inline-flex;
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-size: 22px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 35px;
}

header nav ul li a {
    color: var(--text-color);
}

header h1 {
    display: inline-block;
    color: var(--text-color);
    /* font-size: 60px;
    font-weight:400 */
}

#tagline {
    display:inline-flex;
    background-image: url('Images/lightbulb.jpg'); 
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom 75% right 35%;
    height: 250px;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

#tagline p {
    display: inline-flex;
    margin-left: 28%;
    margin-top: 9.3%;
    color:rgb(235, 4, 4);
    font-size: 30px;
}

main {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom: 20px;
    color: var(--text-color);
}

.title-card {
    display: flex;
    flex-wrap:wrap;
    width:20%;
    min-height: 10px;
    justify-content: right;
    padding: 35px;
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    justify-content: right;
    text-align: right;
}

#about-me img {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    max-height:200px;
    margin-left: 50%;
}

.text-box {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    min-height: 300px;
    width: 80%;
    border-left: solid #5a0404;
    margin-top:20px;
    margin-bottom:20px;
    align-content: center;
}

 .application-box {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 300px;
    width: 80%;
    border-left: solid #5a0404;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}

.first-application {
    width: 100%;
}

.first-application img {
    width: 100%;
}

.left-application-box {
    width: 48%;
    margin-right: 2%;
    text-align: center;
}

.left-application-box img {
    width: 100%;
}

.right-application-box {
    width: 48%;
    margin-left: 2%;
    text-align: center;
}

.right-application-box img {
    width: 100%;
}

#contact-me {
    min-height: 10px;
    padding: 20px;
}

#contact-me nav {
    list-style-type: none;
}

#contact-me nav ul {
    list-style-type: none;
}

#contact-me nav ul li {
    font-size: 20px;
}

#contact-me nav ul li a {
    color:rgb(59, 85, 230);
}

#contact-me nav ul li a:active {
    color:rgb(129, 144, 228);
}

#contact-me nav ul li a:visited {
    color:rgb(125, 55, 206);
}

#contact-me nav ul li a:hover {
    color: var(--highlight-color);
}

footer {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items:end;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 200px;
    width: 100%;
}

footer p {
    display: flex;
    text-align:center;
    color: var(--highlight-color);
    margin-bottom: 50px;
}


